<a href="https://colab.research.google.com/github/Akash0591/Akash-Reddy-Bommireddy/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
min_age = ages[0]
max_age = ages[-1]
ages.append(min_age)
ages.append(max_age)
num_of_items = len(ages)
if num_of_items % 2 == 0:
    first_middle_item = ages[num_of_items // 2]
    second_middle_item = ages[num_of_items // 2 - 1]
    median_age = (first_middle_item + second_middle_item) / 2
else:
    median_age = ages[num_of_items // 2]
total_age = sum(ages)
avg_age = total_age / num_of_items
age_range = max_age - min_age
print("Sorted ages list:", ages)
print("Min age:", min_age)
print("Max age:", max_age)
print("Median age:", median_age)
print("Average age:", avg_age)
print("Age range:", age_range)

Sorted ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In [16]:
dog = {}
dog["name"] = "Tommmy"
dog["color"] = "brown"
dog["breed"] = "Laboratory"
dog["legs"] = 4
dog["age"] = 4
student = {}
student["first_name"] = "Akash Reddy"
student["last_name"] = "Bommireddy"
student["gender"] = "male"
student["age"] = 25
student["marital_status"] = "single"
student["skills"] = ["python", "big data", "html"]
student["country"] = "USA"
student["city"] = "Warrensburg"
student["address"] = "405 Jackson"
print("The length of the student dictionary is", len(student))
skills = student["skills"]
print("The value of skills is", skills, "and its type is", type(skills))
skills.append("SQL")
print("The keys of the student dictionary are", student.keys())
print("The values of the student dictionary are", student.values())

The length of the student dictionary is 9
The value of skills is ['python', 'big data', 'html'] and its type is <class 'list'>
The keys of the student dictionary are dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
The values of the student dictionary are dict_values(['Akash Reddy', 'Bommireddy', 'male', 25, 'single', ['python', 'big data', 'html', 'SQL'], 'USA', 'Warrensburg', '405 Jackson'])

In [15]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))
it_companies.add('Twitter')
it_companies.update(['Netflix', 'Snapchat'])
it_companies.remove('Oracle')
it_companies.discard('IBM')
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
A.union(B)
B.union(A)
print(A.symmetric_difference(B))
del A
del B
ages = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(ages)
print(len(ages))
print(len(age_set))

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{27, 28}
8
5

In [20]:
class Employee:
    employeeCount = 0
    def __init__(self,name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employeeCount += 1
    def getAverageSalary(self):
        return self.salary
    @staticmethod
    def getEmployeeCount():
        return Employee.employeeCount
class FulltimeEmployee(Employee):
    pass
fte1 = FulltimeEmployee("Akash ", "Bommi", 40000, "Engineering")
emp1 = Employee("Koushik", "Desu", 50000, "Marketing")
print("Average Salary:", fte1.getAverageSalary())
print("Average Salary:", emp1.getAverageSalary())
print("Total Employees:", Employee.getEmployeeCount())

Average Salary: 40000
Average Salary: 50000
Total Employees: 2