<a href="https://colab.research.google.com/github/Akash0591/Akash-Reddy-Bommireddy/blob/main/ML_ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list and finding the min and max age
ages.sort()
print(f"Sorted Ages: {ages}")
min_age = ages[0]
print(f"Min Age: {min_age}")
max_age = ages[-1]
print(f"Max Age: {max_age}")
# Adding the min age and max age again to the list
ages.extend([min_age, max_age])

# Finding the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print(f"Median Age: {median_age}")
# Finding the average age
average_age = sum(ages) / len(ages)
print(f"Average Age: {average_age}")
# Finding the range of the ages
age_range = max_age - min_age
print(f"Age Range: {age_range}")

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [17]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Fido'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 25,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'Warrensburg',
    'address': '405 jackson Street'
}

# Get the length of the student dictionary
print(len(student))

# Get the value of skills and check the data type
skills_value = student['skills']
print(type(skills_value))

# Modify the skills values by adding one or two skills
student['skills'].append('SQL')
student['skills'].append('JavaScript')

# Get the dictionary keys as a list
keys_list = list(student.keys())
print(keys_list)

# Get the dictionary values as a list
values_list = list(student.values())
print(values_list)

9
<class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['John', 'Doe', 'Male', 25, 'Single', ['Python', 'Java', 'SQL', 'JavaScript'], 'USA', 'Warrensburg', '405 jackson Street']

In [5]:
# Tuple containing names of siblings
brothers = ("Chintu", "Nani")
sisters = ("Pranathi", "Divya")

# Joining brothers and sisters tuples
siblings = brothers + sisters

# Counting number of siblings
num_siblings = len(siblings)

# Adding father and mother to the siblings tuple
family_members = siblings + ("Venkateshwar Reddy", "Vasantha")

print("Number of siblings:", num_siblings)
print("Family members:", family_members)

Number of siblings: 4
Family members: ('Chintu', 'Nani', 'Pranathi', 'Divya', 'Venkateshwar Reddy', 'Vasantha')

In [6]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
print(len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['LinkedIn', 'Netflix', 'Uber'])

# Remove one of the companies from the set it_companies
it_companies.remove('Amazon')

# What is the difference between remove and discard
# remove() will raise an error if the element does not exist, discard() will not raise an error

# Join A and B
result = A.union(B)
print(result)

# Find A intersection B
intersection = A.intersection(B)
print(intersection)

# Is A subset of B
print(A.issubset(B))

# Are A and B disjoint sets
print(A.isdisjoint(B))

# Join A with B and B with A
result1 = A.union(B)
result2 = B.union(A)
print(result1)
print(result2)

# What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)

# Delete the sets completely
del it_companies, A, B

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print(len(age))
print(len(age_set))

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
8
5

In [7]:
radius = float(input("Enter the radius of the circle in meters: "))

pi = 3.14159

area_of_circle = pi * (radius ** 2)
circum_of_circle = 2 * pi * radius

print("The area of the circle is:", area_of_circle, "square meters")
print("The circumference of the circle is:", circum_of_circle, "meters")

Enter the radius of the circle in meters: 30
The area of the circle is: 2827.431 square meters
The circumference of the circle is: 188.4954 meters

In [8]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)

print(len(unique_words))

10

In [13]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [14]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

In [16]:
# Read number of students
N = int(input("Enter the number of students: "))

# Read weights of students
weights_lbs = []
for i in range(N):
    weight = int(input("Enter weight (lbs) of student {}: ".format(i+1)))
    weights_lbs.append(weight)

# Convert weights to kilograms
weights_kg = []
for weight in weights_lbs:
    kg = weight * 0.453592
    weights_kg.append(round(kg, 2))

# Print the weights in kilograms
print("Weights in kilograms:")
print(weights_kg)

Enter the number of students: 3
Enter weight (lbs) of student 1: 155
Enter weight (lbs) of student 2: 230
Enter weight (lbs) of student 3: 122
Weights in kilograms:
[70.31, 104.33, 55.34]